body {
  margin: 0;
  padding: 0;
  background-color: #DB1E2F;/*#17a2b8*/
  height: 100vh;
}
#login .container #login-row #login-column #login-box, #cadastrar .container #login-row #login-column #login-box {
  margin-top: 50px;
  max-width: 400px;
  height: 340px;
  /*border: 1px solid #9C9C9C;*/
  background-color: #EAEAEA;
  border-radius: 5px;
}
#login .container #login-row #login-column #login-box #login-form, #cadastrar .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link, #cadastrar .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.text-info-red {
  color: #231F20 !important;
}


